.bg{
    background-image: url(../img/img-login.svg);
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 20%;
}

body{
    background: #54405a ;
    background: linear-gradient(to right, #7C6C94, #84946C);
}

.mantun {
    border-radius: 50%;
    margin-top: 5%;
}
